html,body {
    background-color: #333;
    color: #00AA20;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1em;
}

.zarban_gameboard {
    border: 1px solid #00AA20;
    border-width: 4px;
    border-style: double;
    padding: 10px;
}

.zarban_gameboard h4 {
    border-bottom: 1px solid #00AA20;
    margin-top: 0px;
}

 a {
    background-color: #333;
    color: #00AA20;
    font-family: "Lucida Console", "Courier New", monospace;
    display: block;
    font-size: 1em;
    text-decoration: none;
}

.zarban_controls a {
    margin-top: 10px;
}

a:hover {
    color: #00CC40;
}